@font-face{
		font-family: 'Wisdom Script';
		src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
		width: 1200px;
		margin: 0 auto;
}

h1,
h2,
h3,
h4 {
		color: black;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
}
h1 {
		font-size: 30px;
}
h2 {
		font-size: 24px;
}
h3 {
		font-size: 18px;
}
h4 {
		font-size: 12px;
}

p {
		font-size: 14px;
		line-height: 21px;
    padding: 0 20px;
		text-align: center;
}

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}
/*************************************************************/
.top-section {
	padding-bottom: 460px;
}
/***********************************************************/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: left;
	padding: 15px 0 10px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 20px;
}

.section-one,
.section-two,
.section-three {
	width: 397px;
	height: auto;
	float: left;
	border-top: 3px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 3px solid #eee;
	border-right: 3px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

/*******************************************GALLERY******************************************************/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.gallery {
	border-left: 3px solid #77a466;
	border-right: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}
